<!DOCTYPE HTML>
<html lang="zh-cn">
	<head>
		<title>SiteInfo</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css" />
		<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="card bg-primary text-white">
				<div class="card-header">
					网站信息 - <a onclick="re()">获得新数据</a>
				</div>
				<div class="card-body">
					<div id="viewcount">
						<table class="table table-bordered table-hover table-condensed" v-if="ok">
							<thead>
								<tr>
									<th>
										时间
									</th>
									<th>
										访问量
									</th>
									<th>
										真实的访问量
									</th>
								</tr>
							</thead>
							<tr v-for="(data, date) in items">
								<th>{{ date }}</th>
								<th>{{ data['viewcount'] }}</th>
								<th>{{ data['ipcount'] }}</th>
							</tr>
						</table>
						<div v-else>
							<img src="/loading.gif">
						</div>
					</div>
					<p style="height: 3px;"></p>
					<div id="innodbinfo">
						<table class="table table-bordered table-hover table-condensed" v-if="ok">
							<thead>
								<tr>
									<th>
										InnoDB缓冲池命中率
									</th>
								</tr>
							</thead>
							<tr v-if="ok">
								<th>{{ hitRate }}</th>
							</tr>
						</table>
						<div v-else>
							<img src="/loading.gif">
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			var viewcount = new Vue({
				el: '#viewcount',
				data: {
					ok: false,
					items: []
				},
				created: function () {
					$.ajax({
						type : "GET",
						url : "api.php?action=viewcount",
						success : function(data) {
							viewcount.ok = true;
							viewcount.items = $.parseJSON(data)['ViewCount'];
						}
					});
				}
			});
			var innodbinfo = new Vue({
				el: '#innodbinfo',
				data: {
					ok: false,
					hitRate: 0
				},
				created: function () {
					$.ajax({
						type : "GET",
						url : "api.php?action=innodbinfo",
						success : function(data) {
							innodbinfo.ok = true;
							innodbinfo.hitRate = $.parseJSON(data)['InnoDBBufferHitRate'];
						}
					});
				}
			});
		</script>
	</body>
</html>
